
.container1{
    width: 98%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    border: 5px solid #839C99; /* Border properties */
    margin:15px; /* Optional: Add padding inside the cadre */
    background-color: #CDD8C4;
    border-radius: 8px; 
    text-align: center;
    
    
    
     
}



